## Practica con Nunmpy

### Vectores

In [1]:
# Importar la libreria Numpy
import numpy as np

In [2]:
print("Hola desde Numpy")

Hola desde Numpy

In [3]:
# Variable en Python
nombre = "Leonardo "
edad = 53
casado = True
estatura = 1.67
print(nombre, edad, casado, estatura)

Leonardo  53 True 1.67

In [7]:
print(f"Nombre: {nombre}, Edad: {edad}, Estatura: {estatura}")
if casado == True:
    print("Estado civil: Casado")
else:
    print("Estado civil: Soltero")

Nombre: Leonardo , Edad: 53, Estatura: 1.67
Estado civil: Casado

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
for i in range(11):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10

In [10]:
for i in range(0, 11, 2):
    print(i)

0
2
4
6
8
10

In [13]:
#Listas []
edades = [18, 17, 19, 21, 18, 17, 23]

print(edades)
for est in edades:
    if est >= 18:
        print("Mayor de edad")
    else:
        print("Menor de edad")

[18, 17, 19, 21, 18, 17, 23]
Mayor de edad
Menor de edad
Mayor de edad
Mayor de edad
Mayor de edad
Menor de edad
Mayor de edad

In [14]:
#Diccionario
estudiantes = {"Nombre": 'Leonardo Martinez', "Edad": 53, "Sexo": "Masculino"}
print(estudiantes)

{'Nombre': 'Leonardo Martinez', 'Edad': 53, 'Sexo': 'Masculino'}

In [19]:
#Para imprimir
print ("Nombre: ", estudiantes["Nombre"])
print ("Nombre: ", estudiantes.get("Nombre"))

estudiantes["Estado_Civil"]= 'Casado'
print(estudiantes)

Nombre:  Leonardo Martinez
Nombre:  Leonardo Martinez
{'Nombre': 'Leonardo Martinez', 'Edad': 53, 'Sexo': 'Masculino', 'Estado_Civil': 'Casado'}

In [22]:
lista = [
    {"estudiante": 'Karla', "edad": 18, "promedio": 90.8},
    {"estudiante": 'Jonathan', "edad": 21, "promedio": 99.8},
    {"estudiante": 'Chino', "edad": 15, "promedio": 70.8},
]
print(lista)

for est in lista:
    print(f"Nombre: {est.get("estudiante")} Promedio: {est.get("promedio")}")

[{'estudiante': 'Karla', 'edad': 18, 'promedio': 90.8}, {'estudiante': 'Jonathan', 'edad': 21, 'promedio': 99.8}, {'estudiante': 'Chino', 'edad': 15, 'promedio': 70.8}]
Nombre: Karla Promedio: 90.8
Nombre: Jonathan Promedio: 99.8
Nombre: Chino Promedio: 70.8

In [3]:
#tuplas
t = (1,2,3,4,5)
print(t)
tupla_string = ('A', 'B', 'C', 'D')
print(tupla_string)

(1, 2, 3, 4, 5)
('A', 'B', 'C', 'D')